/* your styles go here*/

/* change default font to not use Google Fonts and use font(s) from
   the Font Library instead */
body {
  /* change to "RobotoRegular" to match what's from fontlibrary.org */
  font-family: "MetropolisRegular", Helvetica, Arial, sans-serif;
  /* dark background colour on front page */
  background-color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "MetropolisRegular", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: #000000;
}

/* light colour for sidebar heading */
.sidebar-heading a {
  color: #a7a7a7;
}
.sidebar-heading a:hover {
  color: #e0e0e0;
}
.small-navbar-heading a {
  color: #a7a7a7;
}
.small-navbar-heading a:hover {
  color: #e0e0e0;
}

/* improve buffer/padding space in sidebar when on small screen */
.sidebar-content {
  padding: 0 2em 0 0.2em;
}

/* lighter colour for sidebar links */
.sidebar-menu li a {
  color: #a7a7a7;
  font-weight: bold;
}

/* reduce fade-out shadow around each portfolio item on front page */
.box-masonry {
  box-shadow: 0 0 2px #ccc;
}